{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Email": {
    "SmtpHost": "PENDIENTE_CONFIGURAR",
    "Puerto": "PENDIENTE_CONFIGURAR",
    "Usuario": "PENDIENTE_CONFIGURAR",
    "Contrasena": "PENDIENTE_CONFIGURAR",
    "DestinatarioFijo": "PENDIENTE_CONFIGURAR"
  }
}
